.page {
    margin : 15px 15px;
    text-align: center;
}

.page a {
    display: inline-block;
    height:49px;
    background:url(http://p8.qhimg.com/t011507c377b837cbac.png) no-repeat;
    background-size: 189px auto;
}

.page .prev {
    background-position: 0 2px;
    width:95px;
}

.page .next {
    background-position: 0 -48px;
    width:188px;
}

.page .next:hover {
    background-position: 0 -96px;
    width:188px;
}

.shake-tip {
    display:none;
    margin:10px;
    padding:10px;
    line-height:1.6;
    border-radius: 5px;
    background:#fff; 
    text-shadow : 2px 2px 2px #ccc;
}

.shake {
    -webkit-animation:shakeme 0.5s ease-in-out infinite;
    -moz-animation:shakeme 0.5s ease-in-out infinite;
    -ms-animation:shakeme 0.5s ease-in-out infinite;    
    animation:shakeme 0.5s ease-in-out infinite;    
}

@-webkit-keyframes shakeme{
    0%{
        -webkit-transform:translateX(0)
    }   
    25%{
        -webkit-transform:translateX(-5px)
    }
    50%{
        -webkit-transform:translateX(-5px)
    }  
    75%{
        -webkit-transform:translateX(5px)
    }             
    100%{
        -webkit-transform:translateX(0)
    }
}

@-webkit-keyframes shakeme{
    0%{
        -moz-transform:translateX(0)
    }   
    25%{
        -moz-transform:translateX(-5px)
    }
    50%{
        -moz-transform:translateX(-5px)
    }  
    75%{
        -moz-transform:translateX(5px)
    }             
    100%{
        -moz-transform:translateX(0)
    }
}

@keyframes shakeme{
    0%{
        transform:translateX(0)
    }   
    25%{
        transform:translateX(-5px)
    }
    50%{
        transform:translateX(-5px)
    }  
    75%{
        transform:translateX(5px)
    }             
    100%{
        transform:translateX(0)
    }
}